@font-face{
	font-family: Birch;
	src: url('../fonts/BirchStd.otf');
}

h1{
	font-family:Georgia, serif;
}
.homeButton{

	background-image: -webkit-gradient(linear, left top, left bottom, from( #d42a31 /*{a-bar-background-start}*/), to( #ad2328 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d42a31 /*{a-bar-background-start}*/, #ad2328 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d42a31 /*{a-bar-background-start}*/, #ad2328 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d42a31 /*{a-bar-background-start}*/, #ad2328 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d42a31 /*{a-bar-background-start}*/, #ad2328 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d42a31 /*{a-bar-background-start}*/, #ad2328 /*{a-bar-background-end}*/);

	float:left;
	padding:1px;
	width:30%;
	height:100px;
	margin:2px;
	color:#fff;
	text-align:center;

	border:solid 1px #660000;
	padding-top: 10px;


}
.homeButton:hover{
	background-color:#cc0000;
}

/*********************************************************
JQUERY DEFAULT CSS OVERRIDES
**********************************************************/
.ui-panel {
	width: 100% !important;

}

/* portrait view */
@media screen and (orientation:portrait) {
	.ui-navbar li .ui-btn{
		height:5em;

	}
}
/* landscape view */
@media screen and (orientation:landscape) {
	.ui-navbar li .ui-btn{
		height:4em;
	}
}
/**Icons**/
.ui-icon-dimes-heart {
	background:url("../images/heart.png") no-repeat scroll 0 0 transparent;
	border-style: hidden;
	-webkit-box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	width: 26px;
	height: 26px;
}
.ui-icon-dimes-podium {
	background:url("../images/podium.png") no-repeat scroll 0 0 transparent;
	border-style: hidden;
	-webkit-box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	width: 26px;
	height: 26px;
}
.ui-icon-dimes-list {
	background:url("../images/list.png") no-repeat scroll 0 0 transparent;
	border-style: hidden;
	-webkit-box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	width: 26px;
	height: 26px;
}
.ui-icon-dimes-fire {
	background:url("../images/fire.png") no-repeat scroll 0 0 transparent;
	border-style: hidden;
	-webkit-box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	width: 26px;
	height: 26px;
}
.ui-icon-dimes-google_maps {
	background:url("../images/google_maps.png") no-repeat scroll 0 0 transparent;
	border-style: hidden;
	-webkit-box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	width: 26px;
	height: 26px;
}
.ui-icon-dimes-star {
	background:url("../images/star.png") no-repeat scroll 0 0 transparent;
	border-style: hidden;
	-webkit-box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	width: 26px;
	height: 26px;
}
